@import "tailwindcss";

.drop-shadow-outline {
  text-shadow:
    2px 2px 0 white,
    -2px 2px 0 white,
    2px -2px 0 white,
    -2px -2px 0 white,
    0 2px 0 white,
    2px 0 0 white,
    0 -2px 0 white,
    -2px 0 0 white;
}

.non-selectable {
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
  -webkit-user-drag: none; /* Prevent dragging in Webkit */
  -khtml-user-drag: none; /* Prevent dragging in Konqueror */
  -moz-user-drag: none; /* Prevent dragging in Firefox */
  -o-user-drag: none; /* Prevent dragging in Opera */
  user-drag: none; /* Standard */
  /* pointer-events: none; */
}

.non-selectable.interactive {
  pointer-events: auto;
  cursor: default;
}
