@import "tailwindcss";

.drop-shadow-outline {
  text-shadow:
    2px 2px 0 white,
    -2px 2px 0 white,
    2px -2px 0 white,
    -2px -2px 0 white,
    0 2px 0 white,
    2px 0 0 white,
    0 -2px 0 white,
    -2px 0 0 white;
}

